$mdc-theme-primary: #35495E;
$mdc-theme-accent: #42b983;
$mdc-theme-background: #fff;

@import '@material/theme/mdc-theme';
@import '@material/toolbar/mdc-toolbar';
@import '@material/typography/mdc-typography';
@import '@material/fab/mdc-fab';
@import '@material/ripple/mdc-ripple';
